{% comment %} #### On an umbrella page {% endcomment %}
{% if page.series_slug != nil %}
  {% assign key = page.series_slug %}
  {% assign title = page.title %}
  {% assign url = page.url %}
  {% assign sentence = "Posts in this Series:" %}
{% endif %}

{% comment %} #### On an serie page {% endcomment %}
{% if page.series != nil %}
  {% assign key = page.series %}
  {% assign umbrella_page = site.posts | where: 'series_slug', key | first %}
  {% assign title = umbrella_page.title %}
  {% assign url = umbrella_page.url %}
  {% assign series_posts = site.posts | where: "series", key %}
  {% for post in series_posts %}
    {% if post.url == page.url %}
      {% assign idx = forloop.index %}
    {% endif %}
  {% endfor %}
  {% capture sentence %}
  This article is <strong>Part {{ idx }}</strong> of a <strong>{{ series_posts.size }}-Part</strong> <a href="{{ site.baseurl }}{{ url }}">{{ title }} </a>Series
  {% endcapture %}
{% endif %}

{% if page.series_slug != nil or page.series != nil %}
  {% assign series_posts = site.posts | where: "series", key %}
  <hr />
  <div class="panel">
    <div class="panel-body">
      {% if page.series_slug != nil %}
        {% assign key = page.series_slug %}
        {% assign title = page.title %}
        {% assign url = page.url %}
      {% endif %}

      <h4>{{ sentence }}</h4>
      <ul id="post-series-list">
      {% for post in series_posts %}
        <li>
        {% if page.url == post.url %}
          This post : {{ post.title }} - Part {{ forloop.index }}
        {% else %}
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} - Part {{ forloop.index }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
